---
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include docs/header.html -%}

    <main class="content" aria-label="Content">

      {%- include docs/sidebar.html -%}
      
      <div id="wrapper">

        <article class="article">
          {% assign isDeprecated = page.deprecated | default: false %}
          {% if isDeprecated %}  
            {% include docs/notice.html content='
              <p>Note: You are currently browsing the documentation for an older version of the library.</p>
              <a class="version-warning-link">Click here to switch to the newest version.</a>
            ' %}
          {% endif %}
          {{ content }}
          {%- include docs/chapterSelect.html -%}
        </article>

        <aside class="article-sidebar">
          <div class="article-sidebar-inner">
            <app-articletoc></app-articletoc>
            
            {% if page.url contains '.html' %}
              {% assign editUrl = "https://github.com/angular-dynamic-hooks/documentation/blob/main" | append: page.url |  replace: ".html", ".md" %}
            {% else %}
              {% assign editUrl = "https://github.com/angular-dynamic-hooks/documentation/blob/main" | append: page.url |  append: "index.md" %}
            {% endif %}
            <a class="article-edit" href="{{ editUrl }}" target="_blank">
              <img class="article-edit-img" src="{{ "/assets/images/github-mark.svg" | relative_url }}" alt="The logo for Github">
              <span>Edit this page</span>
            </a>
          </div>
        </aside>

      </div>
      
    </main>

    {%- include footer.html -%}

  </body>

</html>